.container {
  width: 75%;
  padding: 0;
  margin: auto;
}
body {
  -webkit-user-select: none;
  /* Chrome, Safari, Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
img {
  user-select: none; /* 禁止拖拽图片 */
}
nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
nav .nav-item {
  height: 137px;
}
nav .nav-item .list-2 a {
  color: #333;
}
nav .nav-item img {
  width: 187px;
  height: auto;
}
nav .nav-item .nav-list {
  width: 100px;
  font-size: 1.125rem;
}
.nav-2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 22px;
  padding: 10px;
  width: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.nav-2 .nav-2-border {
  border: 2px solid #15569d;
  margin: 0 11px 11px 11px;
}
.nav-2 li {
  margin: 17px 0;
  font-size: 0.95rem;
}
.nav-2 a {
  line-height: 37px;
}
.nav-2 li:hover {
  background-color: #15569d;
  color: #fff;
}
.nav-list {
  position: relative;
}
.nav-list a {
  color: #333;
}
.nav-list .list-2:hover a {
  color: #fff;
}
.nav-list:hover .nav-2 {
  display: block;
}
.header .header-bgimg {
  padding-top: 128px;
}
.header .header-pic {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 755px;
}
.header .header-pic .header-border {
  margin: 11px 0 0 0;
  width: 50px;
}
.header .header-pic h1 {
  color: #fff;
  margin: 0 0 18px 0;
}
.header .header-pic h2 {
  color: #fff;
  margin: 18px 0 18px 0;
}
main li {
  height: 80px;
  width: 16.66%;
  text-align: center;
  line-height: 80px;
}
main li a {
  color: #353536;
}
main li:hover {
  border-bottom-color: #15569d;
  border-bottom-width: 2px;
}
.home {
  display: block;
}
.about {
  display: block;
}
.contact {
  display: block;
}
.optional {
  display: block;
}
.main-bgimg {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  background-size: 100% auto;
}
.main-bgimg .name-container {
  height: 137px;
}
.main-bgimg .main-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.main-bgimg .item-zero {
  height: 88px;
  margin: 77px 0 55px 0;
}
.main-bgimg .item-zero h2 {
  font-size: 1.75rem;
  color: #3a3a3d;
  margin: 0 0 8px 0;
}
.main-bgimg .item-zero h3 {
  font-size: 1.75rem;
  color: #c9c9ca;
  text-transform: uppercase;
  font-family: Impact;
  font-weight: normal;
}
.main-bgimg .item-one {
  margin: 0 0 55px 0;
  display: block;
}
.main-bgimg .item-one .one-p1 {
  text-indent: 2em;
  margin: 0 0 17px 0;
}
.main-bgimg .item-tow .tow-p1 {
  text-indent: 1em;
  margin: 0 0 17px 0;
}
.main-bgimg .item-name {
  display: block;
}
.main-bgimg .main-people-pic {
  margin: 33px 0 33px 55px;
}
.main-bgimg .main-people-pic img {
  width: 100%;
  height: auto;
}
.footer .icon-bottom {
  margin: 0 0 0 88px;
}
.footer .footer-icon {
  height: 55px;
}
.footer .footer-input {
  border: 1px solid #cdd6e5;
  margin: 0 0 0 200px;
  width: 235px;
}
.footer .footer-input p {
  line-height: 45px;
  margin: 0 0 0 1.25rem;
}
.footer .footer-bg {
  background: #15569d;
  padding: 3.75rem 0 4.375rem;
}
.footer .footer-container {
  width: 92%;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
}
.footer .link-container {
  height: 180px;
}
.footer .footer-link {
  display: block;
  padding: 0;
}
.footer .footer-item li a:hover {
  color: #fff;
}
.footer .footer-item {
  margin: 33px 33px 55px 0;
}
.footer .footer-item h2 {
  margin: 0 0 22px 0;
  font-weight: normal;
  font-size: 1.285714rem;
}
.footer .footer-item h2 a {
  color: #fff;
}
.footer .footer-item li {
  margin: 0 0 5px 0;
}
.footer .footer-item li a {
  color: #a7b7d2;
}
@media (min-width: 329px) and (max-width: 470px) {
  html {
    font-size: 12px;
  }
  .about {
    display: none;
  }
  .contact {
    display: none;
  }
  .optional {
    display: none;
  }
  main li {
    width: 33.33%;
  }
}
@media (min-width: 471px) and (max-width: 639px) {
  html {
    font-size: 13px;
  }
  .about {
    display: none;
  }
  .contact {
    display: none;
  }
  .optional {
    display: none;
  }
  main li {
    width: 33.33%;
  }
}
@media (min-width: 640px) and (max-width: 1399px) {
  html {
    font-size: 14px;
  }
  .icon-header {
    display: none;
  }
  .contact {
    display: none;
  }
  .optional {
    display: none;
  }
  main li {
    width: 25%;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
  .icon-header {
    display: none;
  }
  .optional {
    display: none;
  }
  main li {
    width: 20%;
  }
}
@media (min-width: 1601px) and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
  .icon-header {
    display: none;
  }
}
@media (max-width: 1135px) and (min-width: 695px) {
  .main-people-pic {
    align-items: center;
    display: flex;
  }
}
@media (max-width: 750px) {
  .footer .footer-link {
    text-align: center;
    margin-top: 33px;
  }
  .name-container {
    float: right;
    margin: 50px 0 0 0;
    content: "";
    display: table;
    clear: both;
  }
  .main-container,
  .flex-space-between {
    flex-direction: column-reverse;
  }
  .main-bgimg {
    width: 95%;
  }
  .main-people-pic {
    margin: 0 !important;
    display: flex;
    justify-content: flex-end;
  }
  .main-people-pic img {
    width: 80% !important;
    height: auto !important;
  }
  .flex-y-center,
  .link-container,
  .footer-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer-input {
    border: 1px solid #cdd6e5;
    margin: 0 0 0 2px !important;
    width: 243px !important;
    height: 45px;
    justify-content: center;
  }
  .footer-input p {
    line-height: 45px;
    margin: 0 !important;
  }
  .flex-end,
  .footer-icon {
    justify-content: center;
    height: 50px !important;
    padding: 0 5px 0 5px !important;
  }
  .flex-y-center {
    justify-content: center;
  }
}
@media (max-width: 1070px) {
  .footer-item {
    display: none;
  }
}
@media (max-width: 980px) {
  .nav-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-phone #icon-header svg {
    height: 30px;
    width: 30px;
  }
  .nav-phone #logo-header img {
    height: auto;
    width: 100px;
  }
  .nav-list {
    display: none;
  }
  .icon-header {
    display: block !important;
  }
  .container {
    width: 90%;
  }
  .phone-height {
    height: 70px !important;
  }
  .header-pic {
    height: 333px !important;
  }
  .header-bgimg {
    padding-top: 70px !important;
  }
}
@media (min-width: 1920px) and (max-width: 10000px) {
  .icon-header {
    display: none;
  }
}
